<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <img alt="Logo" width="50" src="~/Content/logo.png"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Emisoras de Radio", "index", "EmisoraRadio")</li>
                    <li>@Html.ActionLink("Cadenas de Radio", "index", "CadenaRadio")</li>
                    <li>@Html.ActionLink("Directores", "index", "Director")</li>
                    <li>@Html.ActionLink("Empresas de Medio", "index", "EmpresaMedios")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Patrocinadores", "index", "Patrocinador")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script src="~/Scripts/datatables.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/additional-methods.js"></script>
    <script src="~/Scripts/messages_es.js"></script>
    <script src="~/Scripts/methods_es_CL.js"></script>
</body>
</html>
