@using ManejadorDePatrocinadores.Models
@model ManejadorDePatrocinadores.Models.CadenaRadio

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Crear CadenaRadio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombre_representativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_representativo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.nombre_representativo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sede_central, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" required name="sede_central">
                    @foreach (var item in (List<EmisoraRadio>)ViewData["emisoraLista"])
                    {
                        <option value="@item.nfi">@item.nombre</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.director, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                <select class="form-control" required name="director">
                    @foreach (var item in (List<Director>)ViewData["directoresLista"])
                    {
                        <option value="@item.id">@item.nombre</option>
                    }
                </select>

</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empresa_medios, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                
                <select class="form-control" required name="empresa_medios">
                    @foreach (var item in (List<EmpresaMedio>)ViewData["empresaMediosLista"])
                    {
                        <option value="@item.nif">@item.nombre</option>
                    }
                </select>
                

            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">
                Duración (En días)
            </label>
            <div class="col-md-10">
                <input type="number" step="any" class="form-control" required name="duracion">
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Programas</label>
            <div class="col-md-10">
                <div>
                    <div id="programacion-lista">
                       
                    </div>
                    <button style="margin-top: 7px;" class="btn btn-primary" type="button" id="agregar-programacion">+</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>


<script>
    var listaProgramas = [];
    var index = 1;
    function crearSelect() {
        var list = `<select name="programa-${index}" class='form-control' style="margin-top: 12px">`;
        listaProgramas.forEach(programa => {
            list += `<option value="${programa.id}">${programa.nombre}</option>`;
        });
        list += "</select>";
        index +=1;
        return list;
    }

    $("#agregar-programacion").on("click", function() {
        $("#programacion-lista").append(crearSelect());
    });

    $(document).ready(function() {

        $.ajax({
            url: "/CadenaRadio/programs",
            methods: "GET",
            success: programas => {
                listaProgramas = _.uniqBy(programas.list, "nombre");
            }
        });

        $("form").validate();
    });

</script>
