@using ManejadorDePatrocinadores.Models
@model IEnumerable<ManejadorDePatrocinadores.Models.CadenaRadio>

@{
    ViewBag.Title = "Index";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Sede Central</td>
        <td>Director</td>
        <td>Empresa de Medios</td>
        <td>Duracción</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var row in (List<CadenaRadio>)ViewData["cadenasRadios"])
    {
        <tr>
            <td>@row.id</td>
            <td>@row.nombre_representativo</td>
            <td>@row.sede_central_nombre</td>
            <td>@row.director_nombre</td>
            <td>@row.empresa_medios_nombre</td>
            <td>@row.duracion días</td>
            
        </tr>
    }
    </tbody>
</table>